div{
    background-color: gray;
    color: black;
    font-size: 15px;
    width: 200px;
    height: 120px;
    display: block;
    overflow: auto;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: palevioletred;
    box-sizing: border-box;

}
.A{
    background-color: red;
}
.B{
    background-color: green;

    position: fixed;
    top: 0px;
    left: 0px;

}
.C{
    background-color: blue;
}